.App{
  background-color: rgb(43, 43, 44);
  min-height: 100vh
}
.deleteBtn{
  position:absolute;
  font-size: 10px;
  top:5px;
  right:5px;
}

.cardTitle:hover {
  background-color: #3d3d3d;
  cursor: pointer;
}